In [12]:
import pandas as pd

import numpy as np
from datetime import datetime

import requests

In [13]:
data = pd.read_csv("./Data/datavf.csv")
# data=data.loc[:,['verified','statuses','location','date_joined','most_recent_post','following','followers','likes','lists','tweet_language','tweets_this_week','retweet_ratio','retweeted_count','URL works','userNameScore','avg_tweets_by_hour_of_day','avg_tweets_by_day_of_week','account_type']]

In [14]:
# data.rename(columns = {'retweet_ratio':'retweet'}, inplace = True)
# data['retweet'] = data['retweet'].multiply(2)
# data.to_csv('./Data/featuresfloatv3.csv', index=False)

In [15]:
data["url"].value_counts(dropna=True)

 0    14148
 1     7851
-1        1
Name: url, dtype: int64

crée une relation entre les annes de création (in years) et nombre de following

In [16]:
from datetime import datetime
currentYear = datetime.now().year

data['years_of_join']=0
data.loc[currentYear - data.date_joined==1,'years_of_join']=-1
data.loc[(currentYear - data.date_joined>1) & (currentYear - data.date_joined<=5),'years_of_join']=0
data.loc[currentYear - data.date_joined>5,'years_of_join']=1
data["years_of_join"].value_counts(dropna=True)

 1    21196
 0      671
-1      133
Name: years_of_join, dtype: int64

If a number is below the average, it means that it is lower than the typical or expected value of the data. 

Conversely, if a number is above the average, it means that it is higher than the typical or expected value of the data.

the avarage of following that a humain account can have

In [17]:
following_years_avg = data[data['account_type'] == 1].groupby('years_of_join')['following'].mean()
following_years_avg = following_years_avg.rename('following_avg')
following_years_avg

years_of_join
-1      78.923077
 0     439.358382
 1    4008.418252
Name: following_avg, dtype: float64

In [18]:

data=data.merge(following_years_avg, on='years_of_join')

data['following/years']=data.following_avg-data.following
# data.loc[data.followers==data.followers_avg,'followers/years']=0
# data.loc[data.following>data.following_avg,'following/years']=-1

In [19]:
data

,verified,statuses,location,date_joined,most_recent_post,following,followers,favourites,lists,tweet_language,...,retweeted_count,url,userNameScore,avg_tweets_by_hour_of_day,avg_tweets_by_day_of_week,screen_name,account_type,years_of_join,following_avg,following/years
0,0,270,1,2010,2022,131.0,55.0,1484,2,1,...,103418.0,0,0.642857,2.000,6.857,CBirckner,1,1,4008.418252,3877.418252
1,0,14302,0,2012,2023,440.0,557.0,2958,2,1,...,867392.0,0,0.000000,8.083,27.714,amf_jay,1,1,4008.418252,3568.418252
2,0,4585,1,2009,2023,288.0,111.0,7983,3,1,...,2996382.0,0,0.909091,8.167,28.000,SaraCavolo,1,1,4008.418252,3720.418252
3,1,15851,1,2010,2022,39.0,71644.0,20105,172,2,...,66477.0,1,0.600000,8.333,28.571,DavidHenaoModel,1,1,4008.418252,3969.418252
4,0,115,0,2016,2017,0.0,0.0,47,0,1,...,236220.0,0,0.785714,4.167,14.286,taina_griffith,1,1,4008.418252,4008.418252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,0,1,0,2022,2022,44.0,1.0,102,0,32,...,0.0,0,0.411765,0.042,0.143,HeldenG,0,-1,78.923077,34.923077
21996,0,2,0,2022,2022,8.0,1.0,1,0,7,...,5346.0,1,1.000000,0.083,0.286,AlHilalcom,0,-1,78.923077,70.923077
21997,0,0,0,2022,0,427.0,0.0,0,0,0,...,0.0,0,0.176471,0.000,0.000,NewbieHome,0,-1,78.923077,-348.076923
21998,0,726,1,2022,2022,1.0,32.0,0,0,10,...,26.0,1,0.478261,8.333,28.571,Contexto_Tuc,0,-1,78.923077,77.923077
21999,0,0,0,2022,0,0.0,0.0,0,0,0,...,0.0,0,0.066667,0.000,0.000,MarcePCsolution,0,-1,78.923077,78.923077

In [20]:
print(data["following/years"].value_counts(dropna=True))
data["account_type"].value_counts(dropna=True)

 4008.418252     5277
 4007.418252      175
 4006.418252      107
 439.358382       104
 4005.418252       71
                 ...
-2580.581748        1
-10634.581748       1
 1816.418252        1
 936.418252         1
-348.076923         1
Name: following/years, Length: 4221, dtype: int64

1    11000
0    11000
Name: account_type, dtype: int64

In [21]:
print(data)

       verified  statuses  location  date_joined  most_recent_post  following  \
0             0       270         1         2010              2022      131.0
1             0     14302         0         2012              2023      440.0
2             0      4585         1         2009              2023      288.0
3             1     15851         1         2010              2022       39.0
4             0       115         0         2016              2017        0.0
...         ...       ...       ...          ...               ...        ...
21995         0         1         0         2022              2022       44.0
21996         0         2         0         2022              2022        8.0
21997         0         0         0         2022                 0      427.0
21998         0       726         1         2022              2022        1.0
21999         0         0         0         2022                 0        0.0

       followers  favourites  lists  tweet_language  ...  retweeted_count  \
0           55.0        1484      2               1  ...         103418.0
1          557.0        2958      2               1  ...         867392.0
2          111.0        7983      3               1  ...        2996382.0
3        71644.0       20105    172               2  ...          66477.0
4            0.0          47      0               1  ...         236220.0
...          ...         ...    ...             ...  ...              ...
21995        1.0         102      0              32  ...              0.0
21996        1.0           1      0               7  ...           5346.0
21997        0.0           0      0               0  ...              0.0
21998       32.0           0      0              10  ...             26.0
21999        0.0           0      0               0  ...              0.0

       url  userNameScore  avg_tweets_by_hour_of_day  \
0        0       0.642857                      2.000
1        0       0.000000                      8.083
2        0       0.909091                      8.167
3        1       0.600000                      8.333
4        0       0.785714                      4.167
...    ...            ...                        ...
21995    0       0.411765                      0.042
21996    1       1.000000                      0.083
21997    0       0.176471                      0.000
21998    1       0.478261                      8.333
21999    0       0.066667                      0.000

       avg_tweets_by_day_of_week      screen_name  account_type years_of_join  \
0                          6.857        CBirckner             1             1
1                         27.714          amf_jay             1             1
2                         28.000       SaraCavolo             1             1
3                         28.571  DavidHenaoModel             1             1
4                         14.286   taina_griffith             1             1
...                          ...              ...           ...           ...
21995                      0.143          HeldenG             0            -1
21996                      0.286       AlHilalcom             0            -1
21997                      0.000       NewbieHome             0            -1
21998                     28.571     Contexto_Tuc             0            -1
21999                      0.000  MarcePCsolution             0            -1

       following_avg  following/years
0        4008.418252      3877.418252
1        4008.418252      3568.418252
2        4008.418252      3720.418252
3        4008.418252      3969.418252
4        4008.418252      4008.418252
...              ...              ...
21995      78.923077        34.923077
21996      78.923077        70.923077
21997      78.923077      -348.076923
21998      78.923077        77.923077
21999      78.923077        78.923077

[22000 rows x 22 columns]

relation entre followers et years_of_last_post

In [25]:
currentYear = datetime.now().year

data['years_of_last_post']=0
# 2023
data.loc[currentYear - data.most_recent_post==0,'years_of_last_post']=1
# 2022 2021
data.loc[(currentYear - data.most_recent_post>0) & (currentYear - data.date_joined<=2),'years_of_last_post']=0
# 2020 ....
data.loc[currentYear - data.most_recent_post>2,'years_of_last_post']=-1
data["years_of_last_post"].value_counts(dropna=True)

-1    10254
 1     8708
 0     3038
Name: years_of_last_post, dtype: int64

In [26]:
followers_years_avg = data[data['account_type'] == 1].groupby('years_of_last_post')['followers'].mean()
followers_years_avg = followers_years_avg.rename('followers_avg')
followers_years_avg

years_of_last_post
-1     66477.338872
 0    412195.769784
 1    781019.765866
Name: followers_avg, dtype: float64

In [27]:
data=data.merge(followers_years_avg, on='years_of_last_post')

data['followers/lastpost']=data.followers_avg-data.followers
# data.loc[data.followers==data.followers_avg,'followers/years']=0
# data.loc[data.followers>data.followers_avg,'followers/lastpost']=-1

In [28]:
print(data["followers/lastpost"].value_counts(dropna=True))
data["account_type"].value_counts(dropna=True)

 6.647734e+04    1033
 6.647634e+04     544
 6.647534e+04     383
 6.647334e+04     314
 6.647434e+04     312
                 ...
 7.652768e+05       1
-9.127522e+05       1
 6.746478e+05       1
-3.863841e+06       1
 6.578534e+04       1
Name: followers/lastpost, Length: 8835, dtype: int64

1    11000
0    11000
Name: account_type, dtype: int64

In [30]:
data =data.drop(['years_of_last_post'	,'followers_avg'], axis=1)
data.to_csv("./Data/datavf.csv")