In [160]:
import pandas as pd

import numpy as np
from datetime import datetime

import requests

In [161]:
data = pd.read_csv("./Data/featuresfloatv2.csv")
data=data.loc[:,['verified','statuses','location','date_joined','most_recent_post','following','followers','likes','lists','tweet_language','tweets_this_week','retweet_ratio','retweeted_count','URL works','userNameScore','avg_tweets_by_hour_of_day','avg_tweets_by_day_of_week','account_type']]
data.to_csv('./Data/featuresfloatv3.csv', index=False)

In [162]:
data = pd.read_csv("./Data/featuresfloatv3.csv")

In [163]:
data

,verified,statuses,location,date_joined,most_recent_post,following,followers,likes,lists,tweet_language,tweets_this_week,retweet_ratio,retweeted_count,URL works,userNameScore,avg_tweets_by_hour_of_day,avg_tweets_by_day_of_week,account_type
0,0,7098,1,2009,0,166.0,125.0,12213,2,0,0.0,0.0,0.0,0,0.428571,0.000,0.000,bot
1,0,270,1,2010,2022,131.0,55.0,1484,2,1,0.0,16.0,103418.0,0,0.642857,2.000,6.857,human
2,0,14302,0,2012,2023,440.0,557.0,2958,2,1,0.0,77.0,867392.0,0,0.000000,8.083,27.714,human
3,0,4585,1,2009,2023,288.0,111.0,7983,3,1,0.0,54.0,2996382.0,0,0.909091,8.167,28.000,human
4,1,15851,1,2010,2022,39.0,71644.0,20105,172,2,0.0,10.0,66477.0,-1,0.600000,8.333,28.571,human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34039,1,60100,1,2010,2023,181.0,417832.0,61532,876,1,8.0,47.0,1375535.0,1,0.714286,8.333,28.571,human
34040,1,40277,0,2010,2023,129.0,80306.0,1,182,8,0.0,0.0,15350.0,1,0.400000,8.333,28.571,human
34041,0,6679,0,2009,2022,231.0,248542.0,28,372,4,0.0,8.0,18899.0,0,0.875000,8.333,28.571,human
34042,1,2580,1,2013,2023,49.0,3383768.0,871,378,1,1.0,4.0,145792.0,1,0.277778,8.333,28.571,human
34043,0,3566,0,2012,2023,21724.0,23603.0,953,25,9,14.0,52.0,1771.0,1,0.727273,8.167,28.000,human

crÃ©e une relation entre les annes de crÃ©ation (in years) et nombre de following

In [164]:
from datetime import datetime
currentYear = datetime.now().year

data['years_of_join']=0
data.loc[currentYear - data.date_joined==1,'years_of_join']=-1
data.loc[(currentYear - data.date_joined>1) & (currentYear - data.date_joined<=5),'years_of_join']=0
data.loc[currentYear - data.date_joined>5,'years_of_join']=1
data["years_of_join"].value_counts(dropna=True)

 1    32829
 0     1004
-1      211
Name: years_of_join, dtype: int64

If a number is below the average, it means that it is lower than the typical or expected value of the data. 

Conversely, if a number is above the average, it means that it is higher than the typical or expected value of the data.

the avarage of following that a humain account can have

In [165]:
following_years_avg = data[data['account_type'] == 'human'].groupby('years_of_join')['following'].mean()
following_years_avg = following_years_avg.rename('following_avg')
following_years_avg

years_of_join
-1      71.047904
 0     435.536732
 1    4128.516869
Name: following_avg, dtype: float64

In [166]:

data=data.merge(following_years_avg, on='years_of_join')

data.loc[data.following<=data.following_avg,'following/years']=1
# data.loc[data.followers==data.followers_avg,'followers/years']=0
data.loc[data.following>data.following_avg,'following/years']=-1

In [167]:
print(data["following/years"].value_counts(dropna=True))
data["account_type"].value_counts(dropna=True)

 1.0    31688
-1.0     2356
Name: following/years, dtype: int64

human    22501
bot      11543
Name: account_type, dtype: int64

In [155]:
data

,verified,statuses,location,date_joined,most_recent_post,following,followers,likes,lists,tweet_language,...,retweet_ratio,retweeted_count,URL works,userNameScore,avg_tweets_by_hour_of_day,avg_tweets_by_day_of_week,account_type,years_of_join,followers_avg,followers/years
0,0,7098,1,2009,0,166.0,125.0,12213,2,0,...,0.0,0.0,0,0.428571,0.000,0.000,bot,1,597833.043569,1.0
1,0,270,1,2010,2022,131.0,55.0,1484,2,1,...,16.0,103418.0,0,0.642857,2.000,6.857,human,1,597833.043569,1.0
2,0,14302,0,2012,2023,440.0,557.0,2958,2,1,...,77.0,867392.0,0,0.000000,8.083,27.714,human,1,597833.043569,1.0
3,0,4585,1,2009,2023,288.0,111.0,7983,3,1,...,54.0,2996382.0,0,0.909091,8.167,28.000,human,1,597833.043569,1.0
4,1,15851,1,2010,2022,39.0,71644.0,20105,172,2,...,10.0,66477.0,-1,0.600000,8.333,28.571,human,1,597833.043569,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34039,0,0,0,2022,0,0.0,0.0,0,0,0,...,0.0,0.0,0,0.625000,0.000,0.000,human,-1,528.377246,1.0
34040,0,0,0,2022,0,0.0,0.0,0,0,0,...,0.0,0.0,0,0.500000,0.000,0.000,human,-1,528.377246,1.0
34041,0,0,0,2022,0,13.0,0.0,0,0,0,...,0.0,0.0,0,0.857143,0.000,0.000,bot,-1,528.377246,1.0
34042,0,0,0,2022,0,5.0,0.0,2,0,0,...,0.0,0.0,0,0.500000,0.000,0.000,human,-1,528.377246,1.0
34043,0,3,0,2022,2022,6.0,1.0,2,0,1,...,0.0,0.0,0,0.700000,0.083,0.286,human,-1,528.377246,1.0

In [156]:
data =data.drop(['years_of_join','followers_avg'], axis=1)

In [159]:
currentYear = datetime.now().year

data['years_of_last_post']=0
# 2023
data.loc[currentYear - data.most_recent_post==0,'years_of_last_post']=1
# 2022 2021
data.loc[(currentYear - data.most_recent_post>0) & (currentYear - data.date_joined<=2),'years_of_last_post']=0
# 2020 ....
data.loc[currentYear - data.most_recent_post>2,'years_of_last_post']=-1
data["years_of_last_post"].value_counts(dropna=True)

 1    15861
-1    13355
 0     4828
Name: years_of_last_post, dtype: int64

In [ ]:
followers_years_avg = data[data['account_type'] == 'human'].groupby('years_of_last_post')['followers'].mean()
followers_years_avg = followers_years_avg.rename('followers_avg')
followers_years_avg